<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://mdbootstrap.com/api/snippets/static/download/MDB-Pro_4.12.0/css/mdb.min.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      .bloc_left_price {
        color: #c01508;
        text-align: center;
        font-weight: bold;
        font-size: 150%;
      }
      .category_block li:hover {
        background-color: #007bff;
      }
      .category_block li:hover a {
        color: #ffffff;
      }
      .category_block li a {
        color: #343a40;
      }
      .add_to_cart_block .price {
        color: #c01508;
        text-align: center;
        font-weight: bold;
        font-size: 200%;
        margin-bottom: 0;
      }
      .add_to_cart_block .price_discounted {
        color: #343a40;
        text-align: center;
        text-decoration: line-through;
        font-size: 140%;
      }
      .product_rassurance {
        padding: 10px;
        margin-top: 15px;
        background: #ffffff;
        border: 1px solid #6c757d;
        color: #6c757d;
      }
      .product_rassurance .list-inline {
        margin-bottom: 0;
        text-transform: uppercase;
        text-align: center;
      }
      .product_rassurance .list-inline li:hover {
        color: #343a40;
      }
      .reviews_product .fa-star {
        color: gold;
      }
      #cart-images{
          width:100px;
          height:100px;
      }
       .my-jumbotron {
        position: relative;
        background: linear-gradient(
            47deg,
            rgba(0, 0, 0, 0.8),
            rgba(0, 176, 0, 0.2)
          ),
          url('/images/square.jpg') center center;
        background-color: #172d1c;
        width: 100%;
        background-size: cover;
        color: #fff;
        height: 18em;
      }
      #cart-user{
          margin:150px 0 40px 0;
          color:black
      }
      #intro {
        background: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg')
          no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      .top-nav-collapse {
        background-color: #24355c;
      }
      @media (max-width: 768px) {
        .navbar:not(.top-nav-collapse) {
          background-color: #24355c;
        }
      }
      @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
          background-color: #24355c;
        }
      }
    </style>
    <!--Boostnipp Template for cart https://bootsnipp.com/snippets/ZXKKD -->
    <title>Favorite Trails</title>
  </head>
  <body>
    <header>
    <nav
        class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar"style=
        "background-color: #24355c;"
      >
        <div class="container" style=
        "background-color: #24355c;">
          <!-- Navbar brand -->
          <img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ft3.ftcdn.net%2Fjpg%2F01%2F84%2F96%2F50%2F240_F_184965071_k6Y8NOQ1NmxYNok4oTlm4GHjnDAFGPtq.jpg&f=1&nofb=1"
            alt="TH logo"
            style="width: 2em; height: 2em; border-radius: 50%;"
            ;
            <!--
            Collapse
            button
            --
          />
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#basicExampleNav"
            aria-controls="basicExampleNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Collapsible content -->
          <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto smooth-scroll">
              <li class="nav-item">
                <a class="nav-link" href="/api/users">Home/Search</a>
              </li>
            </ul>
            <!-- Links -->

            <!-- Social Icon  -->
            <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item">
                <a class="nav-link" style="color:orangered;"href="/api/users/profile"><%=user.profile.name.toUpperCase()%></a>
              </li>
              <li class="nav-item">
                  <a
                  class="nav-link"
                    href="/api/fav">
                    <i
                    style="color:orangered;""
                      class="fa fa-shopping-cart"
                    ></i>
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
          <!-- Collapsible content -->
        </div>
      </nav>
    </header>
      <div class="container mb-4" >
        <div class="row">
        <div class="col-md-12">
        <h1 id="cart-user"><span> <%=user.profile.name.toUpperCase()%>'s Favorite Trails</span></h1>
        </div>
          <div class="col-12">
            <% if (messages.length > 0) { %>
              <div class="alert alert-success alert-dismissible">
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Clo se"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= messages %>
              </div>
            <% } %>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Thumbnail</th>
                    <th scope="col">Trail Name</th>
                    <th scope="col">Trail ID</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col" class="text-right">City</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% if(foundFavs!==null){ for(let i = 0; i <
                    foundFavs.items.length; i++){ %>
                    <td>
                      <img id="cart-images"
                        src="<%=foundFavs.items[i].image%>"
                      />
                    </td>
                    <td><%=foundFavs.items[i].name%></td>
                    <td><%=foundFavs.items[i]._id%> </td>
                    <td style="text-align:center">
                      1
                    </td>
                    <td class="text-right">
                      <%=foundFavs.items[i].city%>
                    </td>
                    <td class="text-right">
                      <form method="post" action="/api/fav/trail/remove">
                        <input type="hidden" name="item" value="<%=foundFavs.items[i]._id%>"/>
                        <input type="hidden" name="lat" value="<%=foundFavs.items[i].lat%>"/>
                        <input type="hidden" name="lon" value="<%=foundFavs.items[i].lon%>"/>
                        <button type="submit" class="btn btn-sm btn-danger">
                      </form>
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                  <% }}else{%>
                  <h1>Your Cart Is Empty</h1>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
          </div>
        </div>
      </div>
    <% include ../partials/scripts %>
  </body>
</html>