<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />

    <meta charset="UTF-8" />
    <title>Treasure Hiker: Landing page</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://mdbootstrap.com/api/snippets/static/download/MDB-Pro_4.12.0/css/mdb.min.css"
    />

    <style>
      body {
        margin: 0;
        padding: 0;
      }
      html,
      body,
      header,
      #intro {
        height: 100%;
      }

      #intro {
        background: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg')
          no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      .top-nav-collapse {
        background-color: #24355c;
      }
      @media (max-width: 768px) {
        .navbar:not(.top-nav-collapse) {
          background-color: #24355c;
        }
      }
      @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
          background-color: #24355c;
        }
      }
    </style>
  </head>
  <body>
    <nav
        class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar"style=
        "background-color: #24355c;"
      >
        <div class="container" style=
        "background-color: #24355c;">
          <!-- Navbar brand -->
          <img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ft3.ftcdn.net%2Fjpg%2F01%2F84%2F96%2F50%2F240_F_184965071_k6Y8NOQ1NmxYNok4oTlm4GHjnDAFGPtq.jpg&f=1&nofb=1"
            alt="TH logo"
            style="width: 2em; height: 2em; border-radius: 50%;"
            ;
            <!--
            Collapse
            button
            --
          />
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#basicExampleNav"
            aria-controls="basicExampleNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Collapsible content -->
          <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto smooth-scroll">
              <li class="nav-item">
                <a class="nav-link" href="/api/users">Home/Search</a>
              </li>
            </ul>
            <!-- Links -->

            <!-- Social Icon  -->
            <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item">
                <a class="nav-link" style="color:orangered;"href="/api/users/profile"><%=user.profile.name.toUpperCase()%></a>
              </li>
              <li class="nav-item">
                  <a
                  class="nav-link"
                    href="/api/fav">
                    <i
                    style="color:orangered;""
                      class="fa fa-shopping-cart"
                    ></i>
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
          <!-- Collapsible content -->
        </div>
      </nav>
        <div class="container"style=
        "margin-top:100px;">
        <h1>Treasures along this Trail:</h1>

          <div class="row">
            <% for( let i = 0; i < results.length; i++ ) { %>
              <div class="col-lg-4 col-md-12 mb-4">
                <div class="view overlay z-depth-1-half">
                  <a
                  href="/api/trails/single-trail/<%=trails.data[i].lat%>/<%=trails.data[i].lon%>/<%= allLat %>/<%= allLon %>"
                  style="text-decoration: none; color: #000;"
                >
                  <img
                    src="<%=trails.data[i].thumbnail%>"
                    alt="..."
                    class="card-img-top"
                  />
                  <div class="mask rgba-white-slight"></div>
                </div>
          
                <h4 class="my-4 font-weight-bold"><%= trails.data[i].name %> </h4>
                <p class="grey-text">
                  Location: <%=results[i].location %></br>
                  Description: <%= results[i].description %> 
                </p>
              </div>
            <% } %>
          </div>
          <h1>Happy Hunting!</h1>
        </div>
      </main>
    </div>
    <% include ../partials/footer %> <% include ../partials/scripts %>
  </body>
</html>
