<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title>Treasure Hikers</title>
  </head>
  <body>
    <% include ../partials/navbar %>
    <div class="fluid" id="container">
      <main role="main">
        <div class="jumbotron my-jumbotron">
          <h1 class="display-1 my-h1">Treasure Hikers saved single</h1>
          <h4 class="display-5">Successfully saved to favorites</h4>
        </div>
        <div class="container">
          <%= messages %> 
          <div class="row">
            <% for( let i = 0; i < foundTrails.data.length; i++ ) { %>
            <div class="col-md-4" style="margin-bottom: 30px;">
              <div class="card" style="border-radius: 0;">
                <a
                  href="/api/trails/single-trail/<%=foundTrails.data[i].lat%>/<%=foundTrails.data[i].lon%>"
                  style="text-decoration: none; color: #000;"
                >
                  <img
                    src="<%=foundTrails.data[i].thumbnail%>"
                    alt="..."
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <h5 class="card-title"><%= foundTrails.data[i].name %></h5>
                    <p class="card-text">
                      Trail ID: <%=foundTrails.data[i].id %>
                    </p>
                    <a href="/api/trails/save/single-trail/<%=foundTrails.data[i].lat%>/<%=foundTrails.data[i].lon%>" class="btn btn-success">Add to Favorites</a>
                  </div>
                </a>
                <p>Maybe add a back to search button here that redirects back to all trails search</p>
                <% console.log("latitude",lat) %> 
                <a href="/api/trails/all/<%=lat%>/<%=lon%>" class="btn btn-success">Back To Search Results</a>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </main>
    </div>
    <% include ../partials/footer %> <% include ../partials/scripts %>
  </body>
</html>
