<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title>Treasure Hikers</title>
  </head>
  <body>
    <% include ../partials/navbar %>
    <div class="fluid" id="container">
      <main role="main">
        <div class="jumbotron my-jumbotron">
          <h1 class="display-1 my-h1">Treasure Hikers</h1>
          <h4 class="display-5">single Hiking Guide</h4>
        </div>
        <div class="container">
          <div class="row">
            <% for( let i = 0; i < trails.data.length; i++ ) { %>
            <div class="col-md-4" style="margin-bottom: 30px;">
              <div class="card" style="border-radius: 0;">
                <a
                  href="/api/trails/single-trail/<%=trails.data[i].lat%>/<%=trails.data[i].lon%>"
                  style="text-decoration: none; color: #000;"
                >
                  <img
                    src="<%=trails.data[i].thumbnail%>"
                    alt="..."
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <h5 class="card-title"><%= trails.data[i].name %></h5>
                    <p class="card-text">
                      Trail ID: <%=trails.data[i].id %>
                    </p>
                    <a
                      href="/api/trails/save/single-trail/<%=trails.data[i].lat%>/<%=trails.data[i].lon%>/<%= allLat %>/<%= allLon %>  "
                      class="btn btn-success"
                      >Add to Favorites</a
                    >
                  </div>
                </a>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </main>
    </div>
    <% include ../partials/footer %> <% include ../partials/scripts %>
  </body>
</html>
