<p>hi</p>


 <% trails.data.forEach(trail => { %>
  <li>Name: <%= trail.name  %>,</br> ID: <%= trail.id %>,</br> City: <%= trail.city %>,</br>Region: <%= trail.region %>,</br>Length: <%= trail.length %> miles,</br>Description: <%= trail.description %> </br>  </li>
 <% }) %>
